<% include partials/header %>

<div class="container detailGrid">
    <div class="categories row">
        <div class="col-md-3">
            <p class="lead">Local Trailer Help</p>
            <div class="list-group">
                <div class="list-group-item active">Info 1</div>
                <div class="list-group-item">Info 2</div>
                <div class="list-group-item">Info 3</div>
            </div>
            <div>
                Map goes here
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="img-fluid card-img-top" src="<%= trailers.img %>" alt="">
                <div class="card-body">
                    <p class="card-text float-right">$75 up to 3 hours</p>
                    <h5 class="card-title"><a href=""><%= trailers.kind %></a></h5>
                    
                    <p class="card-text"><%= trailers.description %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-9">
                
                <div style="margin-top: 10px" class="jumbotron">
                    <a href="/trailers/<%= trailers._id %>/reviews/new" class="btn btn-success float-right">Add Review</a>
                    <br><br>
                    <hr>
                    <% trailers.reviews.forEach(review => {  %>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="float-right">10 days ago</span>
                                <p><strong>Username: <%= review.author %></strong> </p>
                                <p><%= review.comment %></p>
                            </div>
                        </div>
                    <% })%>     
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>