<% include partials/header %>

<div class="container text-center">
    <h1><%= trailers.kind %></h1>
    <img src="<%= trailers.img %>" alt="">
    <p>Trailer</p>
    
</div>
<div class="reviews container text-center">
    <h3>REVIEWS:</h3>
    <ul class="list-group">
    <% trailers.reviews.forEach(review => {  %>
        <li class="list-group-item"><p><strong>User: <%= review.author %></strong> </p>
        <p>Rating: <%= review.stars %>  Stars</p>
        <p>Comment: <%= review.comment %></p></li> 
    <% })%>
    <a href="/trailers/<%= trailers._id %>/reviews/new" class="btn btn-primary">Add Review</a>
    </ul>
</div>
<% include partials/footer %>